.settings
.project
.classpath
target
repositories
repoquery.nt
src/main/resources/graphs.nt
src/main/resources/quadtest.nq
src/main/resources/quadtest_.nq
all_types_complete.nt
all_types_per_graph.nt
unknown_graphs.log
rep
repooo
firsts.ods
